*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: turquoise;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2vw;
  font-family: Caveat;
}
